
<div class="forMouseOn">
  <div class="cursorWrapperRef">
    <div class="cursorScaleWrapperRef">
      <div class="cursorRef"></div>
    </div>
  </div>
  {{>divider}}
  <li>
    <a href="#" class="services__list-item">
      <p class="services__item-title">Проектирование</p>
      <span class="services__item-more">подробнее</span>
      <span class="services__item-more_mb">+</span>
      <div class="services__hint"></div>
    </a>
  </li>
  {{>divider}}
  <li>
    <a href="#" class="services__list-item">
      <p class="services__item-title">Проектирование</p>
      <span class="services__item-more">подробнее</span>
      <span class="services__item-more_mb">+</span>
      <div class="services__hint"></div>
    </a>
  </li>
  {{>divider}}
  <li>
    <a href="#" class="services__list-item">
      <p class="services__item-title">Проектирование</p>
      <span class="services__item-more">подробнее</span>
      <span class="services__item-more_mb">+</span>
      <div class="services__hint"></div>
    </a>
  </li>
</div>


<!--//==================================================================-->

{{!>divider}}
<!--<li>-->
<!--  <a href="#" class="services__list-item">-->
<!--    <p class="services__item-title">Благоустройство и озеленение</p>-->
<!--    <span class="services__item-more">подробнее</span>-->
<!--    <span class="services__item-more_mb">+</span>-->
<!--    <div class="services__hint"></div>-->
<!--  </a>-->
<!--</li>-->
{{!>divider}}
<!--<li>-->
<!--  <a href="#" class="services__list-item">-->
<!--    <p class="services__item-title">Уход за территорией</p>-->
<!--    <span class="services__item-more">подробнее</span>-->
<!--    <span class="services__item-more_mb">+</span>-->
<!--    <div class="services__hint"></div>-->
<!--  </a>-->
<!--</li>-->
{{!>divider}}