
<li class="forMouseOn">
  <div class="cursorWrapper">
    <div class="cursorScaleWrapper">
      <div class="cursor">
        <img class="cursor-img" src="../../images/content/hint.png" alt="">
      </div>
    </div>
  </div>
  {{>divider}}
    <a href="#" class="services__list-item">
      <span class="services__item-title">Проектирование</span>
      <span class="services__item-more">подробнее</span>
      <span class="services__item-more_mb">+</span>
    </a>
</li>

<li class="forMouseOn">
  <div class="cursorWrapper">
    <div class="cursorScaleWrapper">
      <div class="cursor">
        <img class="cursor-img" src="../../images/content/hint.png" alt="">
      </div>
    </div>
  </div>
  {{>divider}}
  <a href="#" class="services__list-item">
    <span class="services__item-title">Благоустройство и озеленение</span>
    <span class="services__item-more">подробнее</span>
    <span class="services__item-more_mb">+</span>
  </a>
</li>
{{>divider}}
<li class="forMouseOn">
  <div class="cursorWrapper">
    <div class="cursorScaleWrapper">
      <div class="cursor">
        <img class="cursor-img" src="../../images/content/hint.png" alt="">
      </div>
    </div>
  </div>
  {{>divider}}
  <a href="#" class="services__list-item">
    <span class="services__item-title">Уход за территорией</span>
    <span class="services__item-more">подробнее</span>
    <span class="services__item-more_mb">+</span>
  </a>
  {{>divider}}
</li>
