@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;
    font-display: swap;

    src: url("#{$file-path}.woff") format("woff"),
    url("#{$file-path}.woff") format("woff2"),
    //url("#{$file-path}.otf") format("otf")
  }
}

@mixin font-size($font-size: 12px) {
  font-size: $font-size;

  // bp-large miss in _variables
  @media (min-width: $bp-large) {
    font-size: #{get-vw($font-size, $bp-large)};
  }
}